{% extends 'newsletter_app/base/inside_base.html' %}
{% block content %}
<div class="row mt-5 mb-5 pb-5 text-center">
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="card ms-5" style="max-width: 70%; max-height: 80%; overflow: auto;">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary mt-2 mb-2">
                    {% if object %}
                    Сохранить
                    {% else %}
                    Создать
                    {% endif %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}