{% extends 'newsletter_app/base/inside_base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col" style="overflow: auto; max-height: 90vh;">
            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Email</th>
                    <th scope="col">Комментарий</th>
                </tr>
                </thead>
                {% for object in object_list %}
                <tbody>
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><p>{{ object.date_time_last_try }}</p></td>
                    <td><p>{{ object.status }}</p></td>
                    <td><p>{{ object.server_answer }}</p></td>
                    <td><p>{{ object.user }}</p></td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}